{% extends "base.html" %}

{% block title %}View My Commission{% endblock %}

{% block content %}
  <form id="query_form" action="">

    <div>
    <label for="start">From: </label>
    <input type="date" id="start" name="start">
    </div>

    <div>
    <label for="end">To: </label>
    <input type="date" id="start" name="start"><br>
    </div>

    
    <div>
    <input type="submit" value="Search">
    </div>
  </form> 
  <p><b>Commission Received: </b>{{commission}}</p>
  <p><b>Average Commission Per Ticket: </b>{{comm_per_ticket}}</p>
  <p><b>Tickets Booked: </b>{{tickets}}</p>
{% endblock %}
