{% extends "base.html" %}

{% block title %}View Flight Status{% endblock %}

{% block content %}
  <form id="query_form" action="">
    <div>
    <label for="airline_name">Airline: </label> 
    <select id="airline_name" name="airline_name">
        <option value=""></option>
        {% for a in airlines %}
        <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select>
    </div>

    <div>
    <label for="flight_num">Flight Number</label>  
    <input type="number" id="flight_num" name="flight_num">
    </div>

    <div>
    <label for="DATE(departure_time)">Departing</label>
    <input type="date" id="DATE(departure_time)" name="DATE(departure_time)">
    </div>

    <div>
    <label for="DATE(arrival_time)">Arriving</label>
    <input type="date" id="DATE(arrival_time)" name="DATE(arrival_time)"><br>
    </div>

    
    <div>
    <input type="submit" value="Search">
    </div>
  </form> 
  {% if result %}
    <p id = "result">Flight <b>{{result['airline_name']}} {{result['flight_num']}}</b> from <b>{{result['departure_airport']}}</b> to <b>{{result['arrival_airport']}}</b> is currently <b>{{result['status']}}</b> </p>
  {% else %}
    <p id = "result">Please enter a valid input.</p>
  {% endif %}
{% endblock %}