{% extends "base.html" %}

{% block title %}Manage Accounts{% endblock %}

{% block content %}
  <button type="button" class="collapsible_header">Add Booking Agent</button>
  <div class="coll_header_content">
    <form action="/staff/add_agent" method="post">
      <p><label for="email">Email:</label> <input type="email" name="email" id="email"></p>
      <input type="submit" value="Add">
    </form>
  </div> 
  <button type="button" class="collapsible_header">Grant Permissions</button>
  <div class="coll_header_content">
    <form action="/staff/grant_permission" method="post">
      <p><label for="username">Username:</label> <input name="username" id="username"></p>
      <p><label for="permission">Permission:</label> <select name="permission" id="permission">
        <option value="Admin">Admin</option>
        <option value="Operator">Operator</option></select>
      </p>
      <input type="submit" value="Grant">
    </form>
  </div> 
{% endblock %}

{% block additional_script %}
<script>
  var coll = document.getElementsByClassName("collapsible_header");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
  } 
</script>
{% endblock %}
