{% extends "base.html" %}

{% block title %}Manage Info{% endblock %}

{% block content %}
  <button type="button" class="collapsible_header">Add Flight</button>
  <div class="coll_header_content">
    <form action="/staff/add_flight" method="post">
      <p>
        <label for="departure_airport">From: </label>
        <select id="departure_airport" name="departure_airport">
            <option value=""></option>
            {% for a in airports %}
            <option value="{{a}}">{{a}}</option>
            {% endfor %}
        </select> 
      </p>  

        <p>
        <label for="arrival_airport">To: </label>
        <select id="arrival_airport" name="arrival_airport">
            <option value=""></option>
            {% for a in airports %}
            <option value="{{a}}">{{a}}</option>
            {% endfor %}
        </select>
      </p>  

        <p>
        <label for="departure_time">Departing</label>
        <input type="datetime-local" id="departure_time" name="departure_time">
        </p>

        <p>
        <label for="arrival_time">Arriving</label>
        <input type="datetime-local" id="arrival_time" name="arrival_time"><br>
        </p>

        <p>
          <label for="plane">Plane ID</label>
          <input type="number" id="plane" name="plane">
        </p>

        <p>
          <label for="price">Price</label>
          <input type="number" id="price" name="price">
        </p>

        <p>
          <label for="status">Status </label>
          <select id="status" name="status">
              <option value="Upcoming">Upcoming</option>
              <option value="Delayed">Delayed</option>
              <option value="In-progress">In-progress</option>
          </select>
        </p>  

        
        <p>
        <input type="submit" value="Add">
        </p>
    </form>
  </div> 
  <button type="button" class="collapsible_header">Add Airplane</button>
  <div class="coll_header_content">
    <form action="/staff/add_airplane" method="post">
      <p><label for="id">Id:</label> <input name="id" id="id"></p>
      <p><label for="seats">Seats:</label> <input type="number" name="seats" id="seats"></p>
      <input type="submit" value="Add">
    </form>
  </div> 
  <button type="button" class="collapsible_header">Add Airport</button>
  <div class="coll_header_content">
    <form action="/staff/add_airport" method="post">
      <p><label for="name">Name:</label> <input name="name" id="name"></p>
      <p><label for="city">City:</label> <input name="city" id="city"></p>
      <input type="submit" value="Add">
    </form>
  </div> 
{% endblock %}

{% block additional_script %}
<script>
  var coll = document.getElementsByClassName("collapsible_header");
  var i;

  for (i = 0; i < coll.length; i++) {
    coll[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var content = this.nextElementSibling;
      if (content.style.display === "block") {
        content.style.display = "none";
      } else {
        content.style.display = "block";
      }
    });
    } 
</script>
{% endblock %}
