{% extends "base.html" %}

{% block title %}View My Flights{% endblock %}

{% block content %}
  <form id="query_form" action="">
    <div>
    <label for="airline_name">Airline: </label> 
    <select id="airline_name" name="airline_name">
        <option value=""></option>
        {% for a in airlines %}
        <option value="{{a}}">{{a}}</option>
        {% endfor %}
    </select>
    </div>

    <div>
      <label for="status">Status: </label> 
      <select id="status" name="status" selected="Upcoming">
          <option value="Upcoming">Upcoming</option>
          <option value="In-progress">In-progress</option>
          <option value="Delayed">Delayed</option>
      </select>
    </div>

    <div>
    <label for="flight_num">Flight Number</label>  
    <input type="number" id="flight_num" name="flight_num">
    </div>

    <div>
    <label for="DATE(departure_time)">Departing</label>
    <input type="date" id="DATE(departure_time)" name="DATE(departure_time)">
    </div>

    <div>
    <label for="DATE(arrival_time)">Arriving</label>
    <input type="date" id="DATE(arrival_time)" name="DATE(arrival_time)"><br>
    </div>

    
    <div>
    <input type="submit" value="Search">
    </div>
  </form> 
  <table class="sortable">
    <thead>
        <tr>
            <th>Airline</th>
            <th>Flight Number</th>
            <th>Departure</th>
            <th>Arrival</th>
            <th>Departure Time</th>
            <th>Arrival Time</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        {% for r in result %}
        <tr>
            <td>{{r['airline_name']}}</td>
            <td>{{r['flight_num']}}</td>
            <td>{{r['departure_airport']}}</td>
            <td>{{r['arrival_airport']}}</td>
            <td>{{r['departure_time']}}</td>
            <td>{{r['arrival_time']}}</td>
            <td>{{r['price']}}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>
{% endblock %}