{% extends "base.html" %}

{% block title %}Search for Upcoming Flights{% endblock %}

{% block content %}
    <form id="query_form" action="">
      <div>
      <label for="airline_name">Airline: </label> 
      <select id="airline_name" name="airline_name">
          <option value=""></option>
          {% for a in airlines %}
          <option value="{{a}}">{{a}}</option>
          {% endfor %}
      </select>
      </div>

      <div>
      <label for="departure_airport">From: </label>
      <select id="departure_airport" name="departure_airport">
          <option value=""></option>
          {% for a in airports %}
          <option value="{{a}}">{{a}}</option>
          {% endfor %}
      </select> 
      </div>  

      <div>
      <label for="arrival_airport">To: </label>
      <select id="arrival_airport" name="arrival_airport">
          <option value=""></option>
          {% for a in airports %}
          <option value="{{a}}">{{a}}</option>
          {% endfor %}
      </select>
      </div>  

      <div>
      <label for="DATE(departure_time)">Departing</label>
      <input type="date" id="DATE(departure_time)" name="DATE(departure_time)">
      </div>

      <div>
      <label for="DATE(arrival_time)">Arriving</label>
      <input type="date" id="DATE(arrival_time)" name="DATE(arrival_time)"><br>
      </div>

      
      <div>
      <input type="submit" value="Search">
      </div>
    </form> 
    <table class="sortable">
      <thead>
          <tr>
              <th>Airline</th>
              <th>Flight Number</th>
              <th>Departure</th>
              <th>Arrival</th>
              <th>Departure Time</th>
              <th>Arrival Time</th>
              <th>Price</th>
              {%if login%}
                {%if login['type']=='customer' or login['type']=='agent'%}
              <th></th>
              {%endif%}
              {%endif%}
          </tr>
      </thead>
      <tbody>
          {% for r in result %}
          <tr>
              <td>{{r['airline_name']}}</td>
              <td>{{r['flight_num']}}</td>
              <td>{{r['departure_airport']}}</td>
              <td>{{r['arrival_airport']}}</td>
              <td>{{r['departure_time']}}</td>
              <td>{{r['arrival_time']}}</td>
              <td>{{r['price']}}</td>
              {%if login%}
                {%if login['type']=='customer' or login['type']=='agent'%}
              <td class="purchase"><a href="javascript:void(0);" class="purchase_button" flight_num="{{r['flight_num']}}" airline_name="{{r['airline_name']}}">Purchase</a></td>
              {%endif%}
              {%endif%}
          </tr>
          {% endfor %}
      </tbody>
    </table>
{% endblock %}

{% block additional_script %}
    <script>
      let purchases = document.querySelectorAll(".purchase_button");
      purchases.forEach(e => {
        e.addEventListener("click",function() {
          if(confirm(`Are you sure to purchase a ticket for flight ${e.getAttribute('flight_num')} at ${e.getAttribute('airline_name')}?`)){
            purchase_flight(e.getAttribute('airline_name'),e.getAttribute('flight_num'));
          }
        });
      });

      function purchase_flight(a_name, f_num){
        const xhr = new XMLHttpRequest();
        const body = {
          airline_name: a_name,
          flight_num: f_num
          {% if login['type'] == 'agent'%}
          ,buy_for: prompt("Enter the email of the customer to purchase for")
          {% endif %}
        }; 
        xhr.open("POST", "/public/purchase_flight");
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onload = () => {
          if (xhr.readyState == 4 && xhr.status == 200) {
            alert("Purchase successfully made!");
          } else if (xhr.readyState == 4 && xhr.status == 202){
            alert("The capacity of the flight is full!");
          } else {
            alert(`Error: ${xhr.message}`);
          }
        };
        xhr.send(new URLSearchParams(body).toString());
      }
    </script>
{% endblock %}