{% extends "base.html" %}

{% block title %}Track My Spending{% endblock %}

{% block content %}
  <form id="query_form" action="">

    <div>
    <label for="start">From: </label>
    <input type="date" id="start" name="start">
    </div>

    <div>
    <label for="end">To: </label>
    <input type="date" id="end" name="end"><br>
    </div>

    
    <div>
    <input type="submit" value="Search">
    </div>
  </form> 
  <div style="display: flex; align-items: center;width: 100%;justify-content: center;">
    <canvas id="myChart" style="width:100%;max-width:700px"></canvas>
  </div>
{% endblock %}

{% block additional_script %}
<script src="/static/scripts/Chart.js"></script>
<script>
  
  const xValues = {{ months | tojson }};
  const yValues = {{ money | tojson }};
  var barColors = "purple";

  new Chart("myChart", {
    type: "bar",
    data: {
      labels: xValues,
      datasets: [{
        backgroundColor: barColors,
        data: yValues
      }]
    },
    options: {
      legend: {display: false},
      title: {display: true, text:"Money Spent Each Month (USD)"}
    }

  });
</script>
{% endblock %}
