{% extends "base.html" %}

{% block title %}View Top Customers{% endblock %}

{% block content %}
  <div style="display: flex;width: 700px;justify-content: left;margin-left: auto;margin-right: auto;"> 
    <button class="tab" id="ttab" onclick="show_t()"> View By Ticket Purchase</button>
    <button class="tab" id="ctab" onclick="show_c()"> View By Commissions</button>
  </div>
  <div style="display: flex; align-items: center;width: 100%;justify-content: center; flex-direction: row;">
    <canvas id="ticketChart" style="max-width:700px;display: none;"></canvas>
    <canvas id="commissionChart" style="max-width:700px"></canvas>
  </div>
{% endblock %}

{% block additional_script %}
  <script src="/static/scripts/Chart.js"></script>
  <script>
    const namest = {{ namest | tojson }};
    const namesc = {{ namesc | tojson }}
    const tickets = {{ tickets | tojson }};
    const commission = {{ commission | tojson }};
    var barColors = "purple";

    new Chart("ticketChart", {
      type: "bar",
      data: {
        labels: namest,
        datasets: [{
          backgroundColor: barColors,
          data: tickets
        }]
      },
      options: {
        legend: {display: false},
        title: {display: true, text:"Top 5 Customers (Ticket)"}
      }

    });

    new Chart("commissionChart", {
      type: "bar",
      data: {
        labels: namesc,
        datasets: [{
          backgroundColor: barColors,
          data: commission
        }]
      },
      options: {
        legend: {display: false},
        title: {display: true, text:"Top 5 Customers (Commission)"}
      }

    });
    var t = document.getElementById("ticketChart");
    var c = document.getElementById("commissionChart"); 
    var ttab = document.getElementById("ttab");
    var ctab = document.getElementById("ctab"); 
    function show_c(){
      ttab.classList.remove("active");
      ctab.classList.add("active");
      c.style.display="block";
      t.style.display="none";
    }
    function show_t(){
      ctab.classList.remove("active");
      ttab.classList.add("active");
      t.style.display="block";
      c.style.display="none";
    }
  </script>
{% endblock %}
